.pilot-battle {
    width: 200px;
    height: 200px;
    background: #b5e0ba;
 	position: fixed;
  } 
  .pilot-battle-container {
    background: #5d3a3a;
    margin: 0;
    width: 400px;
    height: 300px;
  }